body {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  display: grid;
  place-items: center;
  background-color: hsl(212, 45%, 89%);
  text-align: center;
  height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 16px;
  background-color: white;
  width: 320px;
  height: 497px;
  border-radius: 20px;
  box-shadow: 0px 4px 25px rgb(0, 0, 0, 0.1);
}

main h1 {
  font-weight: 700;
  color: hsl(218, 44%, 22%);
}

main p {
  color: hsl(220, 15%, 55%);
}

main img {
  align-items: center;
  height: 288px;
  width: 288px;
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgb(0, 0, 0, 0.25);
}

.description {
  width: 288px;
  height: 129px;
}
